<div class="fixed-bottom">
  <ul class="nav d-flex justify-content-around">
      <li class="nav-item">
        <a class="btn btn-dark" href="#">Team BDX</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" href="https://github.com/DaTikh" target="blank">@bab</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" href="https://github.com/iMassim0" target="blank">@massimo</a>
      </li>
      <li class="nav-item">

        <a class="btn btn-warning" href="https://www.youtube.com/watch?v=uNagmAEtUCI" target="blank">M. LovaLova</a>
      </li>
  </ul>
</div>
