body {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  padding-top: 70px;
  align-content: center;
  justify-content: center;
}

.logo {
  height: 200px;
  width: auto;
  align-items: center
}

.bdx {
  display: flex;
  justify-content: center
}

.content {

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // background-color: rgb(231,231,231);
  height: 100vh;
}

.box {
  width: 600px;
}

.eventB {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 100px;
}

.eventS {
  background-color: white;
  border: 1px solid black;
  width: 150px;
  height: 50px;
}

.maxime {
  // background-color: rgb(231,231,231);
  width: 200px;

}


#error {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

p {
  color: black;
}


.navbar-fixed-right,
.navbar-fixed-left {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
.navbar-fixed-left {
  right: auto !important;
  left: 0 !important;
  border-width: 0 1px 0 0 !important;
}

  .navbar-fixed-right .container,
  .navbar-fixed-left .container,
  .navbar-fixed-right .container-fluid,
  .navbar-fixed-left .container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .navbar-fixed-right .navbar-header,
  .navbar-fixed-left .navbar-header {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-fixed-right .navbar-collapse,
  .navbar-fixed-left .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: none;
  }

  .navbar-fixed-right .navbar-collapse .navbar-nav,
  .navbar-fixed-left .navbar-collapse .navbar-nav {
    float: none !important;
  }

  .navbar-fixed-right .navbar-collapse .navbar-nav > li,
  .navbar-fixed-left .navbar-collapse .navbar-nav > li {
    width: 100%;
  }

  .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right,
  .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right {
    margin-right: 0;
  }
